.gitignore

# Apple
.DS_Store

# ignore local working folders
**/archive
**/docs
atWork/*
Deck_painter/*
FromLibrary/*
github_templates/*
NC_Protocols/NC_Mix_Indexed_Primers/*
NC_Protocols/NC_simple_dilution_96w/*
Final\ protocols/*
**/__pycache__
NC_server/OT2Scripts/OT2inject_data/*
NC_server/OT2MakeProtocol/OT2inject_data/*
